<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--使用jdbc的getGeneratekeys获取自增主键值 配置这个之后，可以获得自增主键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--开启驼峰命名转换Table:create_time到 Entity(createTime) 很重要-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--使用列别名替换列名　　默认值为true
        select name as title(实体中的属性名是title) form table;
        开启后mybatis会自动帮我们把表中name的值赋到对应实体的title属性中
        -->
        <setting name="useColumnLabel" value="true"/>
    </settings>
</configuration>